#dg {
background: #e0e0e0;
padding-bottom: 30px;
text-align: justify;
    padding-top: 10px;

}
.zagolovok {font-size: 40px; text-align: center}
.text {font-family: "Candara"; text-indent: 30px; text-align: justify; font-size: 17px }

.number {font-family: "Monotype Corsiva"}
#dg h4 {
font-size: 40px;
}

.tilt a img:hover {  transform: scale(1.2);
transition: 0.4s; position: center}


.tilt {margin-bottom: 5px}


#dg_next_1 {
    margin-top: 110px;
    padding-top: 30px;
    margin-bottom: 20px;

}





.tilt {
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;
    padding: 60px;
}


.tilt:hover {
/*-webkit-transform: rotate(-10deg);*/
/*-moz-transform: rotate(-10deg);*/
/*-o-transform: rotate(-10deg);*/
/*-ms-transform: rotate(-10deg);*/
    transform: scale(1.6);
}
/*.wb {*/
/*text-align: center;*/
/*!*padding-top: 10px;*!*/
/*margin-bottom: 0;*/
/*}*/
/*.wb h4 {*/
/*font-size: 35px;*/
/*}*/
/*.wb .img-responsive {*/
/*margin: auto;*/
/*width: 800px;*/
/*height: 300px;*/
/*margin-top: -40px;*/
/*}*/
/*#lg {*/
/*background: #ebebeb;*/
/*padding-top: 40px;*/
/*padding-bottom: 50px;*/
/*text-align: center;*/
/*}*/
/*#lg h4 {*/
/*font-size: 45px;*/

/*}*/
/*#r {*/
/*background: #ff7878;*/
/*padding-top: 70px;*/
/*padding-bottom: 70px;*/
/*text-align: center;*/
/*}*/
/*#r h4 {*/
/*color: white;*/
/*font-size: 45px;*/
/*}*/
/*#r p {*/
/*color: white;*/
/*}*/
/*#r ul {*/
/*margin-left: -10px;*/
/*margin-top: -50px;*/
/*}*/