div.akstii-1:hover, div.akstii-1:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none
}
div.akstii-2:hover, div.akstii-2:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none
}
div.akstii-3:hover, div.akstii-3:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none
}
div.akstii-4:hover, div.akstii-4:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none
}
#gallery a img:focus, #gallery a img:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none
}
#gallery a img:focus ~ div, #gallery a img:focus ~ div:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -webkit-touch-callout: none

}


.slider_aktsii {

    margin-top: 2px;
    transition: all 0.5s;

}
.slider a{text-decoration: none;
    color: white;
    }
/*.akstii-1 {*/
    /*flex-basis: 70%;*/
    /*border: 1px solid white;*/
    /*background-color: lightgray;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 20vh;*/
    /*color: white;*/


   /*}*/
span p {padding: 5px 10px}
span {
    font-size: 1.5rem;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;

}


.akstii-1:hover {
    flex-basis: 100%;
    height: 40vh;
    background-size: cover;
    /*-webkit-filter: grayscale(99%);*/
    /*filter: grayscale(99%);*/
    transition: all 0.5s;

}

.akstii-2:hover {
    flex-basis: 100%;
    height: 40vh;
    background-size: cover;
    /*-webkit-filter: grayscale(99%);*/
    /*filter: grayscale(99%);*/
    transition: all 0.5s;}


.akstii-3:hover {
    flex-basis: 100%;
    height: 120vh;
    background-size: cover;

    transition: all 0.5s;
}
.akstii-4:hover {
    flex-basis: 100%;
    height: 130vh;
    background-size: cover;

    transition: all 0.5s;
}







.data {font-size: 12px; padding: 5px 10px;
}

.akstii-1 {
    background: url("../img/aktsii/SLM971211.jpg") no-repeat center center;
    background-size: cover;
    height: 20vh;
    color: white;
    border: 1px solid white;

    /*opacity: 0.5;*/
}
.akstii-2 {
    background: url("../img/aktsii/prazdnik-novyi-god-kofe-konfety.jpg")no-repeat center center;
    background-size: cover;
    height: 20vh;
    color: white;
    border: 1px solid white;


}
.akstii-3 {
    background: url("../img/aktsii/SLM619011111.jpg")no-repeat center center;
    background-size: cover;
    height: 20vh;
    color: white;
    border: 1px solid white;


}
.akstii-4 {
    background: url("../img/aktsii/Hair-dressing-items-wallpaper-1-1.jpg")no-repeat center center;
    background-size: cover;
    height: 20vh;
    color: white;
    border: 1px solid white;


}



.akstii-1 .bol_1 {display: none; }
.akstii-1:hover .bol_1 {display: block;background-color:rgba(0,0,0,.6);
    padding:5px 5px;text-align: justify}
.bol_1 {margin-top:20px; font-size: 17px;}
.bol_1 p {margin-bottom: 10px}



.akstii-2 .bol_2 {display: none}
.akstii-2:hover .bol_2 {display: block;background-color:rgba(0,0,0,.6);
    padding:5px 5px; text-align: justify}
.bol_2 {margin-top:20px; font-size: 17px;}
.bol_2 p {margin-bottom: 10px; text-align: justify}


.akstii-3 .bol_3 {display: none}
.akstii-3:hover .bol_3 {display: block;background-color:rgba(0,0,0,.6);
    padding:5px 5px; text-align: justify}
.bol_3 {margin-top:20px; font-size: 17px;}
.bol_3 p {margin-bottom: 10px; text-align: justify}

.akstii-4 .bol_4 {display: none}
.akstii-4:hover .bol_4 {display: block;background-color:rgba(0,0,0,.6);
    padding:5px 5px; text-align: justify}
.bol_4 {margin-top:20px; font-size: 17px;}
.bol_4 p {margin-bottom: 10px; text-align: justify}



@media  (max-width: 780px) {
    .slider_aktsii {
        /*height: 100vh;*/
        flex-flow: column;

    }
    .akstii-1 {height: 25vh}
    .akstii-2 {height: 25vh}
    .akstii-3 {height: 25vh}
    .akstii-4 {height: 25vh}


    .item_aktsii {
        width: 100%;
    }

    .akstii-1:hover {
        flex-grow: inherit;
        height: 60vh;
    }

    .akstii-2:hover {
        flex-grow: inherit;
        height: 70vh;
    }

    .akstii-3:hover {
        height: 115vh;

    }
    .akstii-4:hover {
        height: 135vh;

    }
}
@media  (max-width: 640px) {
    .slider_aktsii {

        flex-flow: column;

    }
    .akstii-1 {height: 35vh}
    .akstii-2 {height: 35vh}
    .akstii-3 {height: 35vh}
    .akstii-4 {height: 35vh}


    .item_aktsii {
        width: 100%;

    }

    .akstii-1:hover {
        flex-grow: inherit;
        height: 70vh;
    }

    .akstii-2:hover {
        flex-grow: inherit;
        height: 80vh;
    }
    .akstii-3:hover {
        height: 115vh;

    }
    .akstii-4:hover {
        height: 135vh;

    }
}

@media  (max-width: 480px) {

    .akstii-1 {height: 25vh}
    .akstii-2 {height: 25vh}
    .akstii-3 {height: 25vh}
    .akstii-4 {height: 25vh}


    .akstii-1:hover {
        flex-grow: inherit;
        height: 40vh;
    }

    .akstii-2:hover {
        flex-grow: inherit;
        height: 52vh;
    }

    .bol_2 {
        margin-top: 5px;
        font-size: 16px;
    }

    .akstii-3:hover {
        height: 60vh;

    }
    .akstii-4:hover {
        height: 70vh;

    }
}








    #gallery {
        position: relative;
        padding-top: 50%;
        -moz-user-select: none;
        user-select: none;
    }

    #gallery a img{
        position: absolute;
        top: 20%;
        left: 12.5%;
        max-width: 24.5%;
        max-height: 49.5%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        cursor: zoom-in;
        transition: .2s;
    }

    #gallery a img:nth-child(4n-2) {
        left: 37.5%;
    }

    #gallery a img:nth-child(4n-1) {
        left: 62.5%;
    }

    #gallery a img:nth-child(4n) {
        left: 87.5%;
    }

    #gallery a img:nth-child(n+5) {
        top: 55%;
    }

    #gallery a img:focus {
        position: absolute;
        left: 50%;
        z-index: 1;
        max-width: 100%;
        max-height: 100%;
        outline: none;
        pointer-events: none;
    }

    #gallery a img:focus ~ div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        cursor: zoom-out;
    }





#gallery_1 {
    position: relative;
    padding-top: 50%;
    -moz-user-select: none;
    user-select: none;
}

#gallery_1 a img{
    position: absolute;
    top: 24%;
    left: 12.5%;
    max-width: 44.5%;
    max-height: 49.5%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: zoom-in;
    transition: .2s;
}

#gallery_1 a img:nth-child(3n-2) {
    left: 17.5%;
}

#gallery_1 a img:nth-child(3n-1) {
    left: 52.5%;
}

#gallery_1 a img:nth-child(3n) {
    left: 87.5%;
}

#gallery_1 a img:nth-child(n+4) {
    top: 75%;
}

#gallery_1 a img:focus {
    position: absolute;
    left: 50%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
    outline: none;
    pointer-events: none;
}

#gallery_1 a img:focus ~ div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: zoom-out;
}
