
.slider_aktsii {
    margin-top: 2px;
    transition: all 0.5s;}
.slider a{text-decoration: none;
    color: white;    }
span p {padding: 5px 10px}
span {    font-size: 1.5rem;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;}


.akstii-4 {
    background: url("../img/aktsii/Hair-dressing.jpg")no-repeat center center;
    background-size: cover;
    height: auto;
    color: white;
    border: 1px solid white;}






.bol_4 {
    background-color:rgba(0,0,0,.4);   }


.bol_4 p {
    font-size: 27px;
    padding: 10px 10px 10px 10px
}


.bol_4 img {width: 49%;
        border-radius: 20px 20px 20px 20px ;border: 1px solid white; margin-top: 5px}

.bar_foto {width: 90%; height: auto; margin: 0 auto}


.data {font-size: 12px; padding: 5px 10px;
}



/*@media  (max-width: 980px) {*/
    /*.akstii-3 {*/
                /*height: 150vh;*/
/*}*/



/*@media  (max-width: 780px) {*/
    /*.akstii-3 {*/
        /*height: 190vh;*/
    /*}*/

    /*.bol_3 img {*/
        /*width: 55%;*/
    /*}*/

    /*.bol_3 p {*/
        /*font-size: 20px*/
    /*}*/

    /*.bol_3 {*/
        /*font-size: 20px;*/
    /*}*/
/*}*/

    @media (max-width: 640px) {
        .bol_4 img {
            width: 100%;

        }

        .akstii-4 {

            height: auto;
        }
    }
        /*.bol_3 img {*/
            /*float: none;*/
        /*}*/

        /*.akstii_foto img {*/
            /*margin-left: 25%*/
        /*}*/

    /*}*/

    /*@media (max-width: 480px){*/

        /*.akstii-3 {*/
            /*height: 120vh;}*/

        /*.bol_3 p {*/
            /*font-size: 17px*/
        /*}*/
    /*}*/


/*#gallery {*/
    /*position: relative;*/
    /*padding-top: 50%;*/
    /*-moz-user-select: none;*/
    /*user-select: none;*/
/*}*/

/*#gallery a img {*/
    /*position: absolute;*/
    /*top: 35%;*/
    /*left: 50%;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*transform: translate(-50%, -50%);*/
    /*cursor: zoom-in;*/
    /*transition: .2s;*/
/*}*/

/*#gallery a img:nth-child(2n-2) {*/
    /*left: 20%;*/
/*}*/

/*#gallery a img:nth-child(2n-1) {*/
    /*left: 25%;*/
/*}*/

/*#gallery a img:focus:nth-child(2n-1) {*/
    /*left: 50%;*/
/*}*/

/*#gallery a img:nth-child(2n) {*/
    /*left: 75%;*/
/*}*/

/*#gallery a img:focus:nth-child(2n) {*/
    /*left: 50%;*/
/*}*/

/*#gallery a img:nth-child(n+3) {*/
    /*top: 100%;*/
/*}*/

/*#gallery a img:nth-child(n+5) {*/
    /*top: 190%;*/
/*}*/

/*#gallery a img:nth-child(n+7) {*/
    /*top: 119%;*/
/*}*/

/*!*#gallery a img:nth-child(4n-2) {*!*/
    /*!*left: 37.5%;*!*/
/*!*}*!*/

/*!*#gallery a img:nth-child(4n-1) {*!*/
    /*!*left: 62.5%;*!*/
/*!*}*!*/

/*!*#gallery a img:nth-child(4n) {*!*/
    /*!*left: 87.5%;*!*/
/*!*}*!*/

/*!*#gallery a img:nth-child(n+5) {*!*/
    /*!*top: 55%;*!*/
/*!*}*!*/

/*#gallery a img:focus {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*z-index: 1;*/
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*outline: none;*/
    /*pointer-events: none;*/
/*}*/

/*#gallery a img:focus ~ div {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*cursor: zoom-out;*/
/*}*/


/*@media (max-width: 980px) {*/
    /*#gallery {*/
        /*padding-top: 100%;*/
    /*}*/

    /*#gallery a img {*/
        /*max-width: 45%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-2) {*/
        /*left: 20%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-1) {*/
        /*left: 25%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n-1) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(2n) {*/
        /*left: 75%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(n+3) {*/
        /*top: 53%;*/
    /*}*/

    /*#gallery a img:nth-child(n+5) {*/
        /*top: 86%;*/
    /*}*/

    /*#gallery a img:nth-child(n+7) {*/
        /*top: 119%;*/
    /*}*/
/*}*/




/*@media (max-width: 780px) {*/
    /*#gallery {*/
        /*padding-top: 100%;*/
    /*}*/
    /*#gallery a img:focus {*/
        /*position: absolute;*/
        /*left: 50%;*/
        /*z-index: 1;*/
        /*max-width: 800px;*/
        /*max-height: 100%;}*/

    /*#gallery a img {*/
        /*max-width: 45%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-2) {*/
        /*left: 20%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-1) {*/
        /*left: 25%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n-1) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(2n) {*/
        /*left: 75%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(n+3) {*/
        /*top: 53%;*/
    /*}*/

    /*#gallery a img:nth-child(n+5) {*/
        /*top: 86%;*/
    /*}*/

    /*#gallery a img:nth-child(n+7) {*/
        /*top: 119%;*/
    /*}*/
/*}*/




/*@media (max-width: 640px) {*/
    /*#gallery {*/
        /*padding-top: 100%;*/
    /*}*/

    /*#gallery a img {*/
        /*max-width: 45%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-2) {*/
        /*left: 20%;*/
    /*}*/

    /*#gallery a img:nth-child(2n-1) {*/
        /*left: 25%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n-1) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(2n) {*/
        /*left: 75%;*/
    /*}*/

    /*#gallery a img:focus:nth-child(2n) {*/
        /*left: 50%;*/
    /*}*/

    /*#gallery a img:nth-child(n+3) {*/
        /*top: 53%;*/
    /*}*/

    /*#gallery a img:nth-child(n+5) {*/
        /*top: 86%;*/
    /*}*/

    /*#gallery a img:nth-child(n+7) {*/
        /*top: 119%;*/
    /*}*/
/*}*/

