
.slider_aktsii {
    margin-top: 2px;
    transition: all 0.5s;}
.slider a{text-decoration: none;
    color: white;    }
span p {padding: 5px 10px}
span {    font-size: 1.5rem;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black, 3px 3px 6px black;}


.akstii-1 {
    background: url("../img/aktsii/SLM971211-11.jpg") no-repeat center center; opacity: 80%;
    background-size: cover;
    height: 100vh;
    color: white;
    border: 1px solid white;}






.bol_1 {
    background-color:rgba(0,0,0,.4); height: 80%;  }


.bol_1 p {
    font-size: 30px;

    padding: 20px 10px 10px 10px
}


.bol_1 img {width: 35%;
    padding: 10px 10px 10px 10px;
    float: right;
    border-radius: 20px 20px 20px 20px;}




.data {font-size: 12px; padding: 5px 10px;
}



/*@media  (max-width: 980px) {*/
    /*.bol_1 img {width: 45%;*/
/*}*/



@media  (max-width: 780px) {
    .bol_1 img {
        width: 45%;
    }

    .bol_1 p {
        font-size: 25px
    }

    .bol_1 {
        font-size: 20px;
    }

    @media (max-width: 640px) {
        .bol_1 img {
            float: none;
        }

        .akstii_foto img {
            margin-left: 25%
        }

    }

    @media (max-width: 480px) {
        .bol_1 p {
            font-size: 20px
        }
    }
}