#map {
    width: 90%;
    margin: 0 auto;
    height: 500px;
    border: 1px solid pink;

}
h1 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;

}
.social {padding-top: 10px}
.adres {font-size: 25px;
    text-align: center;

    }
@media screen and (max-width: 768px) {
    .adres {

        font-size: 15px;
    }
    #map {height: 300px}
    script {zoom: 11.50}
}


.atrium img{width: 65%; margin: 0 auto;

    }
.atrium {text-align: center; margin-top: 10px}